* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* Estilos gerais */
body {
    font-family: sans-serif;
    line-height: 1.6;
    color: #000000;
    background: #ffffff;
    font-size: 18px;
    
    
}

/* Cabeçalho */
.header-content {
    background-color: #3590d6;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 6px solid;
    padding-top: 10px;
    padding-bottom: 10px;
            
}

/* alinhamento do icone */

.icone-navegacao img{
    width: 55px;
    height: 0 auto;
    margin-left: 200px;
}

/* espaçamento dos links do lado da tela e alinhamento */

header nav ul {
    padding: 0 20%;
    list-style: none;
    display: flex;
    justify-content: right;

}

/* espaçamento dos links de um para o outro */

header nav ul li {
    padding: 0 2rem;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 6px 6px;
    font-size:19px ;
}


/* Seção inicial do Artigo */

#linha-artigo-inicio{
    width: 1024px;
    height: 4px;
    background-color: #000000;
    margin: 5px;
}

/* Conteúdo do artigo */
main {
    max-width: 1024px;
    margin: 2rem auto;
    text-align: justify;
}

.titulo{
    text-align: center;
    margin-bottom: 15px;
}

.imagem-inicial{
    width: 400px;
    height: 400px;
    float: left;
    border-radius: 10px;
    margin-right: 1rem;
    margin-top: 1rem;
}


.conteudo-artigo-inicio h2 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

}

.conteudo-artigo p {
    font-size: 18px;

}

/* Seção de Perigos do Artigo */

#linha-artigo-perigos{
    width: 1024px;
    height: 4px;
    background-color: #000000;
    margin: 5px;
}

.imagem-perigos{
    width: 400px;
    height: 400px;
    float: right;
    border-radius: 10px;
    margin-right: 1rem;
    margin-top: 1rem;
}

.conteudo-artigo-perigos h2 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

}

.conteudo-artigo p {
    font-size: 18px;

}

/* Seção de Cuidados do Artigo */

#linha-artigo-cuidados{
    width: 1024px;
    height: 4px;
    background-color: #000000;
    margin: 5px;
}


.imagem-cuidados{
    width: 400px;
    height: 400px;
    float: left;
    border-radius: 10px;
    margin-right: 1rem;
    margin-top: 1rem;
}

.conteudo-artigo-cuidados h2 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

}

.conteudo-artigo p {
    font-size: 18px;

}


/* Rodapé */
footer {
    text-align: center;
    padding: 1rem 0;
    background: #000000;
    color: #e6d7d7;
    font-size: 0.8rem;
   
    
}

footer a{
    text-decoration: none;
    color: #ffffff;
    
    
}

footer a:hover{
    text-decoration:underline;
}

footer a:visited{
    text-decoration: underline;
    color: #19507a;
}

li a:hover{
    box-shadow: 0 0 0 100px rgb(216, 210, 210) inset;
    color: #000000;
    border-radius: 5px;
    padding: 6px 6px;
}

