@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

/* Estilos gerais */
html {
    font-size: 62.5%;
    overflow-x: hidden;
}
body {
    line-height: 1.6;
    color: #000000;
    background: #ffffff;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    transition: background 0.3s, color 0.3s;
}
body.dark-mode{
    background-color: #000000;
    color: #ffffff;
}
p{
    font-size: 21px;
}
h2 {
    margin-top: 1.5rem;
    padding-top: 5rem;
    margin-bottom: 1.5rem;
    text-decoration: underline;
}

/* Cabeçalho */
.header-content {
    background-color: #3590d6;
    color: rgb(0, 0, 0);
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid;
    padding: 3rem 4% 2rem 3%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 100;
}
body.dark-mode .header-content{
    color: rgb(255, 255, 255);
    background-color: #245880;
}
.barra-de-nav a{
    font-size: 1.9rem;
    color: whitesmoke;
    padding: 0.5rem;
    margin-left: 4rem;
    font-weight: 800;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}
.barra-de-nav a:hover,
.barra-de-nav a.ativo {
    color: white;
    border-bottom: 3px solid #0b2c46;

}

/* alinhamento do icone */
.icone-navegacao img{
    width: 60px;
    height: 0 auto;
    margin-left: 5px;
}
.img-theme {
    width: 30px;
    height: auto;
    cursor: pointer;
    border: 2px solid transparent;
    transform: 0.9s, ease;
}
.img-theme:active {
    transform: scale(0.9);
}

/* espaçamento dos links do lado da tela e alinhamento */
header nav ul {
    padding: 0 20%;
    list-style: none;
    display: flex;
    justify-content: right;
}

/* espaçamento dos links de um para o outro */
header nav ul li {
    padding: 0 2rem;
}
header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 6px 6px;
    font-size:19px ;
}

/* Primeira seção do Artigo */
.linha-artigo{
    max-width: 1024px;
    height: 4px;
    background-color: #000000;
    margin: 5px;
    scroll-margin-top: 115px;
}
body.dark-mode .linha-artigo{
    max-width: 1024px;
    height: 4px;
    background-color: #ffffff;
    margin: 5px;
    scroll-margin-top: 115px;
}

/* Conteúdo do artigo */
main {
    padding: 0rem 10px 5rem;
    max-width: 1024px;
    margin: 2rem auto;
    text-align: justify;
}
section {
    margin-bottom: 8%;
}
.titulo{
    text-align: center;
    margin: 5rem auto 5rem;
    padding-top: 85px;
    font-size: 30px;
}

/* Segunda seção do Artigo */
.imagem-perigos{
    width: 400px;
    height: 400px;
    float: right;
    border-radius: 10px;
    margin-right: 1rem;
    margin-top: 8rem;
    padding-left: 4.5rem
}
.citacao{
    font-size: 1.1em;
    margin: 2rem auto 2rem;
    padding: 1rem 1rem 1rem 25px;
    border-left: 4px solid #000000; /* Linha de destaque */
    color: #000000;
    font-style: italic;
    background-color: #b4b4b4; /* Fundo leve */
    line-height: 1.6;
}

/* Rodapé */
footer {
    text-align: center;
    font-size: 16px;
    padding: 1rem 0;
    background: #000000;
    color: #e6d7d7;
    width: 100%;
}
footer a{
    text-decoration: none;
    color: #ffffff;
}
footer a:hover{
    text-decoration:underline;
}
footer a:visited{
    text-decoration: underline;
    color: #19507a;
}
li a:hover{
    box-shadow: 0 0 0 100px rgb(216, 210, 210) inset;
    color: #000000;
    border-radius: 5px;
    padding: 6px 6px;
}

/* imagens */
.imagem-inicial, 
.imagem-conclusao,
.imagem-cuidados,
.imagem-perigos{
    max-width: 400px;
    max-height: 400px;
    height: auto;
    width: auto;
    float: left;
    border-radius: 10px;
    margin-right: 1rem;
    padding-right: 3.5rem;
    margin-top: 5rem;
}

/* Barra de navegação celular */
.nav-links {
    display: flex;
    gap: 10px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-links li a {
    text-decoration: none;
    color: white;
    margin-left: 10px;
}
.menu-toggle {
    display: none;
    /* Oculto por padrão */
    background: none;
    border: none;
    color: white;
    font-size: 3rem;
    cursor: pointer;
    
}

/* Página Sobre*/
h3 {
    margin-top: 1.5rem;
    padding-top: 15rem;
    margin-bottom: 1.5rem;
    font-size: 3rem;
}
h4 {
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
}
ul {
    margin-left: 5rem;
}
#conteudo-artigo-inicio{
    scroll-margin-top: 210px;
}
#conteudo-artigo-perigos,#conteudo-artigo-cuidados{
    scroll-margin-top: 180px;
}

/* Responsividade */
@media (max-width: 768px) {
   *{
    box-sizing: border-box;
   }
   main{
    overflow-x: hidden;
   }
   section {
    min-height: 100vh;
    padding: 5rem auto;
    padding-top: 0;
}

    /* barra de navegação: ícone de tema + botão hamburguer lado a lado */
    .barra-de-nav {
        display: flex;
        align-items: center;
        justify-content: flex-end; /* ambos vão para a direita */
        gap: 3rem; /* espaço entre lua e hambúrguer */
    }
    /* mostra o container da lua no mobile */
    #theme-mobile-container {
        display: flex;
        align-items: center;
    }
    .titulo {
        font-size: 22px;
        
    }
    .linha-artigo {
        width: 100%;
        height: 4px;
        background-color: #000000;
        margin: 5px auto 1rem;
    }
    .nav-links {
        display: none;
        /* Ocultar o menu por padrão */
        flex-direction: column;
        background-color: #3590d6;
        border-radius: 7px;
        border-style: solid;
        border-width: 1px;
        border-color: #000000;
        position: absolute;
        top: 75px;
        /* Ajuste baseado na altura da barra */
        right: 1px;
        width: 40%;
        padding: 20px 0;
        text-align: left;
    }
    .nav-links.active {
        display: flex;
        /* Mostrar o menu quando ativo */
    }
    .menu-toggle {
        display: block;
        /* Mostrar o botão no modo responsivo */
        background: none;
        border: none;
        font-size: 3rem;
        cursor: pointer;
        margin: 0;
        padding: 0;
  }
    .menu-toggle.open::after {
        content: "✖"; /* Ícone X */
        transition: 0.3s ease;
      }
    .menu-toggle::after {
        content: "☰"; /* Ícone de hambúrguer */
        transition: 0.3s ease;
    }
    .dark-mode .nav-links{
    background-color: #245880;
    border-color: #ffffff;
    }
    .nav-links:hover{
        text-decoration: underline;
    }
    .citacao{
      
        font-size: 1em;
    }
}