* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* Estilos gerais */
body {
    font-family: sans-serif;
    line-height: 1.6;
    color: #e6d7d7;
    background: #191b1b;
    font-size: 18px;
    
    
}

/* Cabeçalho */
.header-content {
    background-color: #0f4b79;
    color: #e6d7d7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 6px solid;
    padding-top: 5px;
    padding-bottom: 5px;
            
}

/* alinhamento do icone */

.icone-navegacao img{
    width: 55px;
    height: 0 auto;
    margin-left: 200px;
}

/* espaçamento dos links do lado da tela e alinhamento */

header nav ul {
    padding: 0 20%;
    list-style: none;
    display: flex;
    justify-content: right;

}

/* espaçamento dos links de um para o outro */

header nav ul li {
    padding: 0 2rem;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 6px 6px;
    font-size:19px ;
}

#linha{
    width: 1024px;
    height: 3px;
    background-color: #e6d7d7;
    margin: 2px;
}

/* Conteúdo do artigo */
main {
    max-width: 1024px;
    margin: 2rem auto;
    text-align: justify;
}

.titulo{
    text-align: center;
    margin-bottom: 15px;
}

.featured-image{
    width: 400px;
    height: 400px;
    float: left;
    border-radius: 10px;
    margin-right: 1rem;
    margin-top: 1rem;
}


.article-content h3 {
    margin-top: 1.5rem;

}

blockquote {
    margin: 1.5rem 0;
    padding: 1rem;
    background: #3b3b3b;
    border-left: 5px solid #19507a;
}

/* Rodapé */
footer {
    text-align: center;
    padding: 1rem 0;
    background: #000000;
    color: #e6d7d7;
    font-size: 0.9rem;
    border-radius: 10px;
    margin-bottom: 10px;
}

footer a{
    text-decoration: none;
    color: #ffffff;
    
    
}

footer a:hover{
    text-decoration:underline;
}

footer a:visited{
    text-decoration: underline;
    color: #19507a;
}

li a:hover{
    box-shadow: 0 0 0 100px rgb(216, 210, 210) inset;
    color: #000000;
    border-radius: 5px;
    padding: 6px 6px;
}

